<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отчет о состоянии парка банкоматов</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <h1>Отчет о состоянии парка банкоматов</h1>
    <table id="atm-table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID банкомата</th>
                <th>Состояние</th>
                <th>Последнее обслуживание</th>
                <th>Остаток наличных</th>
            </tr>
        </thead>
    </table>

    <script>
        
        $(document).ready(function() {
            $('#atm-table').DataTable({
                ajax: {
                    url: '/generate_rep1',
                    dataSrc: '',
                },
                columns: [
                    {data:'device_id'},
                    {data:'event_type'},
                    {data:'label'},
                    {data:'datetime_event'},
                ],
                paging: true,         
                searching: true,     
                ordering: true,      
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/ru.json"
                }
            });
        });
    </script>
</body>
</html>